# Python (Django)
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/

# Node (React)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.pnp
.pnp.js

# IDE va Tizim fayllari
.vscode/
.idea/
.DS_Store
