* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
}

#root {
    width: 100%;
    /* Redmi Note 14 kengligi 1080px */
    max-width: 1080px;
    min-height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
